<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width, height=device-height, viewport-fit=cover">

    <title>Tiny Vue</title>

    <link href="https://cdn.jsdelivr.net/gh/rajnandan1/brutopia@latest/dist/assets/compiled/css/app.css" rel="stylesheet" crossorigin="anonymous">

    <style type="text/css">
        body {
            background: #208bfe;
            height: 100vh;
            color: #fff;
        }
        .flex-centered {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .column { flex-direction: column; }
        h1 { font-size: 60px; }
        button { margin-right: 5px; user-select: none; }
    </style>
</head>
<body class="container flex-centered">
<div class="flex-centered column">
    <div class="card card-body">
        <template>
            <div class="container">
                <h1 v-if="!clicked">Hello, <span>World!</span></h1>
                <h1 v-else>Clicked</h1>
                <button @click="clicked = !clicked">Click Me</button>
            </div>
        </template>
    </div>

    <div class="card card-body">
        <template>
            <div class="container">
                <h1>Count: <span>{{count}}</span></h1>
                <button @click="count++">Increment</button>
                <button @click="count--">Decrement</button>
                <button @click="count = 0">Reset</button>
            </div>
        </template>
    </div>

    <div class="card card-body">
        <template>
            <div class="container">
                <h1>Number: <span>{{number}}</span></h1>
                <input type="number" v-model="number">
            </div>
        </template>
    </div>
</div>
<script src="prevue.js"></script>
<script>
    window.state = createState({
        count: 0,
        number: 0,
        clicked: false,
    });

    function setup() {
        console.log('Setup callback');
    }
</script>
</body>
</html>
